<div class="card-header">
	<h1><%= @user&.username %></h1>
</div>
<div class="card-body">
	<div class="row">
		<div class="col-sm-6">
			<div class="card">
				<div class="card-header">
					<h2>Info</h2>
				</div>
				<div class="card-body">

				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card">
				<div class="card-header">
					<h2>Decks</h2>
				</div>
				<div class="card-body">

				</div>
			</div>
		</div>
	</div>
</div>