<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MTGDeckBuilder</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
			<a class="navbar-brand" href="/">MTGDeckBuilder</a>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/decks">All Decks</a>
				</li>
				<% if logged_in? %>
				<li class="nav-item">
					<a class="nav-link" href="/user/decks">My Decks</a>
				</li>
				<% end %>
			</ul>
			<ul class="navbar-nav">
				<% if logged_in? %>
				<li class="nav-item">
					<a class="nav-link" href="/user">Hello <%= current_user&.username %></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/logout">Logout</a>
				</li>
				<% else %>
				<li class="nav-item">
					<a class="nav-link" href="/signup">Signup</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
				<% end %>
			</ul>
		</nav>
	</header>
	<main class="container">
		<div class="card">
			<%= yield %>
		</div>
	</main>
	<script src="/js/jquery.slim.min.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>