<div class="card-header">
	<h1>New Deck</h1>
</div>
<div class="card-body">
	<form method="POST" action="/user/decks">
		<div class="form-group">
			<label for="deck_name">Deck Name</label>
			<input type="text" class="form-control" id="deck_name" name="deck[name]" required minlength="3">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>